
:root{
    --google-btn-reng:#f8f9fa;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}
a:hover{
    text-decoration: underline;
}

nav button{
    margin-right: 7px;
    display: flex;
    height: 36px;
    width: 96px;
    background: #1a73e8;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 14px;

}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

section a {
    color: #1a73e8;
}

.search-section{
    min-width: 582px;
    height: 44px;
    position: relative;
}


.search-section input{
    width: 100%;
    height: 100%;
    border-radius: 22px;
    border: 1px solid #dedede;
    padding-left: 40px;
 padding: 0 45px;
}   

.search-section input:hover{
    box-shadow: 1px 1px 8px 5px #dedede;
    border: transparent;
}

.s-icon{
    position: absolute;
    top: 23%;
    left:3%;
    opacity: 0.5;
}

.mic-icon{
    position: absolute;
    top: 26%;
    right: 3%;
}


img{
    width: 24px;
    height: 24px;
}
img.google-items{
width: 272px;
height: 92px;
}
.google-container{
    height: 100vh;
  
    display: flex;
    flex-direction: column;
}
nav {
 
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}


section{
    flex: 1;

}

.button-grups{
    display: flex;
    gap: 10px;
}

section button{
    background: var(--google-btn-reng);
    border: 1px solid transparent;
    width: 144px;
    height: 36px;
}
span{
   display: flex;
    font-size: 13px;
    font-family: sans-serif;
    padding: 10px 5px;
    gap: 5px;
}

footer{
 
    flex-basis: 10%;
    color: #70757a;
    background-color: #dadce0;
    
}
footer p{
    padding: 15px 30px;
    text-decoration: none;

    
}

footer.link{
    display: flex;
}



footer a {

    color: #70757a;

}
.link{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    gap: 5px;
    padding: 10px 15px;
}
.link .left-side a{
    padding: 10px;
}
.link .right-side a{
    padding: 10px;
}
hr{
    opacity: .3;
}
